# Byte‑compiled
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual env / dotenv
.env
venv/
.venv/

.DS_Store

# Project folders to ignore
/src/validation/

notebooks/
data/
plots/
tests/

